{% extends "web/base.html" %}
{% load i18n %}
{% block body %}
<p class="app-message notification is-info">
  {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
  You are about to use your {{provider_name}} account to login to
  {{site_name}}. As a final step, please complete the following form.{% endblocktrans %}
</p>
<div id="fullpage-form-wrapper">
    <div id="fullpage-form">
        <h1 class="title is-size-4">Sign Up</h1>
        <form class="signup" method="post" action="{% url 'socialaccount_signup' %}">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              {{ form.email }}
            </div>
            {{ form.email.errors }}
          </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="field is-grouped">
              <div class="control">
                  <button class="button is-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
              </div>
          </div>
        </form>
    </div>
</div>
{% endblock %}
