{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block app %}
<section class="section app-card">
    <h1 class="title is-size-4">{% trans "Change Password" %}</h1>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field">
          <label class="label">Current Password</label>
          <div class="control">
            {{ form.oldpassword }}
          </div>
          {{ form.oldpassword.errors }}
        </div>
        <div class="field">
          <label class="label">New Password</label>
          <div class="control">
            {{ form.password1 }}
          </div>
          {{ form.password1.errors }}
        </div>
        <div class="field">
          <label class="label">New Password (again)</label>
          <div class="control">
            {{ form.password2 }}
          </div>
          {{ form.password2.errors }}
        </div>
        <div class="field is-grouped">
            <div class="control">
                <input class="button is-primary" type="submit" value="{% trans 'Change Password' %}">
            </div>
        </div>
    </form>
{% endblock %}
