{% extends "account/base.html" %}
{% load i18n %}
{% block content %}
    <h1 class="title is-size-4">{% trans "Change Password" %}</h1>
    <div class="content">
        <p>
            {% blocktrans %}
            Your password has been changed.
            {% endblocktrans %}
        </p>
        <p>
            {% url 'account_login' as login_url %}
            {% blocktrans %}
            You can now <a href="{{ login_url }}">login</a> with your new password.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
