{% extends "account/base.html" %}
{% load i18n %}
{% block content %}
    <h1 class="title is-size-4">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
    <div class="content">
        <p>
            {% blocktrans %}
            The password reset link was invalid, possibly because it has already been used.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
            {% endblocktrans %}
        </p>
    </div>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="field">
                  <label class="label">New Password</label>
                  <div class="control">
                    {{ form.password1 }}
                  </div>
                  {{ form.password1.errors }}
                </div>
                <div class="field">
                  <label class="label">New Password (again)</label>
                  <div class="control">
                    {{ form.password2 }}
                  </div>
                  {{ form.password2.errors }}
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <input class="button is-primary" type="submit" value="{% trans 'Change Password' %}">
                    </div>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
