{% extends "web/base.html" %}
{% load static %}
{% load socialaccount %}
{% block body %}
<div id="fullpage-form-wrapper">
  <div id="fullpage-form">
    <h1 class="title is-size-4">Sign Up</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          {{ form.email }}
        </div>
        {{ form.email.errors }}
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          {{ form.password1 }}
        </div>
        {{ form.password1.errors }}
      </div>


      {% if request.GET.invitation_id %}
      <input type="hidden" name="invitation_id" value="{{ request.GET.invitation_id }}">
      {{ form.invitation_id.errors }}
      {% else %}
      <div class="field">
        <label class="label">Full Name</label>
        <div class="control">
          {{ form.full_name }}
        </div>
        {{ form.full_name.errors }}
      </div>
      {% endif %}

      {% if request.GET.invitation_id %}
      <input type="hidden" name="invitation_id" value="{{ request.GET.invitation_id }}">
      {{ form.invitation_id.errors }}
      {% else %}
      <div class="field">
        <label class="label">Phone Number</label>
        <div class="control">
          {{ form.phone_number }}
        </div>
        {{ form.phone_number.errors }}
      </div>
      {% endif %}

      {% if request.GET.invitation_id %}
      <input type="hidden" name="invitation_id" value="{{ request.GET.invitation_id }}">
      {{ form.invitation_id.errors }}
      {% else %}
      <div class="field">
        <label class="label">Company Name</label>
        <div class="control">
          <select id="cars" class="option">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
          {{ form.company_name }}
        </div>
        {{ form.company_name.errors }}
      </div>
      {% endif %}


      {% if request.GET.invitation_id %}
      <input type="hidden" name="invitation_id" value="{{ request.GET.invitation_id }}">
      {{ form.invitation_id.errors }}
      {% else %}
      <div class="field">
        <label class="label">User Type</label>
        <div class="control">
          {{ form.mailsaas_type }}
        </div>
        {{ form.mailsaas_type.errors }}
      </div>
      {% endif %}

      <input class="button is-primary is-fullwidth" type="submit" value="Sign Up">

      <p class="has-text-centered">or</p>
      <a class="button is-fullwidth" href="{% provider_login_url 'google' %}">
        <img class="socialicon" src="{% static 'images/socialauth/google-g.svg' %}" alt="Google Logo">
        Continue with Google
      </a>


      <hr>
      <div class="field has-text-centered has-text-grey">
        Already have account?
        <a class="muted-link" href="{% url 'account_login' %}">
          Go to sign in.
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}