<script type="application/javascript">
    // sticky header - see https://coder-coder.com/sticky-header-animated/ for details
    var checkHeader = function () {
        var scrollPosition = Math.round(window.scrollY);
        if (scrollPosition > 52){
            document.querySelector('.app-notice').classList.add('sticky');
            document.querySelector('#example-page-content').classList.add('sticky-offset');
        }
        // If not, remove "sticky" class from header
        else {
            document.querySelector('.app-notice').classList.remove('sticky');
            document.querySelector('#example-page-content').classList.remove('sticky-offset');
        }
    };
    window.addEventListener('scroll', checkHeader);
</script>
