{% extends "mails/base.html" %}
{% load static %}

{% block body %}

<tr>
    <td class="tbody-container">
        <table>
            <tbody>
                <tr>
                    <td class="td-container">
                        <h3 class="ff-cairo fs-25 fw-normal">Update your password</h3>
                    </td>
                </tr>
                <tr>
                    <td class="td-container">
                        <h4 class="ff-open-sans fs-18 ">Hi {{user.get_username}}</h4>
                    </td>
                </tr>
                <tr>
                    <td class="td-container">
                        <h4 class="ff-open-sans fs-18 fw-normal">
                            You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td class="td-container">
                        <h4 class="ff-open-sans fs-18 fw-normal">
                            Please go to the following page and choose a new password:
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td class="td-container text-center">
                        <div class="button-reset">
                            <a href="{{ protocol }}s://{{ domain }}/app/auth/resetPassword/{{ uid }}/{{ token }}"
                            class="a-reset"
                            >Update password here </a>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="td-container">
                        <h5 class="ff-poppins fs-16 fw-normal ">
                            Your username, in case you’ve forgotten:  {{ user.get_username }}
                        </h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>

{% endblock %}
