{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="app-card">
    <h1 class="title is-size-4">
        {% if create %}
            {% trans "Create Team" %}
        {% else %}
            {% trans "Edit Team Details" %}
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}
        <div class="field">
          <label class="label">{% trans "Name" %}</label>
          <div class="control">
            {{ form.name }}
          </div>
          {{ form.name.errors }}
        </div>
        <div class="field">
          <label class="label">{% trans "Team ID" %}</label>
          <div class="control">
            {{ form.slug }}
          </div>
          {{ form.slug.errors }}
        </div>
        <div class="field is-grouped">
            <div class="control">
                <input class="button is-primary" type="submit" value="{% trans 'Save' %}">
            </div>
        </div>
    </form>
</section>
{% if not create %}
    <div id="team-content"></div>
{% endif %}
{% endblock %}
{% block page_js %}
{# NOTE: the rest framework imports must precede the react bundle #}
<script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>

<script src="{% static 'js/teams-bundle.js' %}"></script>
{% endblock %}
