{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
  <div id="team-content"></div>
{% endblock %}
{% block page_js %}
{# NOTE: the rest framework imports must precede the react bundle #}
<script type="application/javascript">
    // initialize any page specific stuff here
    // static files that are used by the page javascript.
    var STATIC_FILES = {
        'undraw_team': "{% static 'images/undraw/undraw_team.svg' %}",
    };
    const inviteUrlTemplate = "{% url 'teams:resend_invitation' '__team_slug__' '__invite_id__' %}";
    const getInviteUrl = function (teamSlug, inviteId) {
      return inviteUrlTemplate.replace('__team_slug__', teamSlug).replace('__invite_id__', inviteId);
    };
</script>
<script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
<script src="{% static 'js/teams-bundle.js' %}"></script>
{% endblock %}
