<aside class="menu">
  <p class="menu-label is-hidden-tablet-only">
    Application
  </p>
  <ul class="menu-list">
      <li>
          <a href="{% url 'web:home' %}" {% if active_tab == 'dashboard' %}class="is-active"{% endif %}>
              <span class="icon"><i class="fa fa-home"></i></span><span class="is-hidden-tablet-only">Dashboard</span>
          </a>
      </li>


    {% include "web/components/team_nav.html" %}


  </ul>
  <p class="menu-label is-hidden-tablet-only">
    My Account
  </p>
  <ul class="menu-list">


    <li>
        <a href="{% url 'users:user_profile' %}" {% if active_tab == 'profile' %}class="is-active"{% endif %}>
            <span class="icon"><i class="fa fa-user"></i></span><span class="is-hidden-tablet-only">Profile</span>
        </a>
    </li>
    {% if user.has_usable_password %}
    <li>
        <a href="{% url 'account_change_password' %}" {% if 'accounts/password/change' in request.path %}class="is-active"{% endif %}>
            <span class="icon"><i class="fa fa-unlock-alt"></i></span><span class="is-hidden-tablet-only">Change Password</span>
        </a>
    </li>
    {% endif %}
    <li>
        <a href="{% url 'account_logout' %}" {% if 'accounts/logout' in request.path %}class="is-active"{% endif %}>
            <span class="icon"><i class="fa fa-sign-out"></i></span><span class="is-hidden-tablet-only">Sign out</span>
        </a>
    </li>
  </ul>


  <p class="menu-label is-hidden-tablet-only">
    Teams
  </p>
  <ul class="menu-list">
    <li>
        <a href="{% url 'teams:manage_teams' %}" {% if 'teams' in request.path %}class="is-active"{% endif %}>
            <span class="icon"><i class="fa fa-group"></i></span><span class="is-hidden-tablet-only">Teams</span>
        </a>
    </li>
  </ul>


</aside>
