{% extends "mails/base.html" %}
{% block body %}

<tr>
    <td class="tbody-container">
        <table>
            <tbody>
                <tr>
                    <td class="td-container">
                        <h3 class="ff-cairo fs-25 fw-normal">Text 1</h3>
                    </td>
                </tr>
                <tr>
                    <td class="td-container">
                        <h4 class="ff-open-sans fs-18 ">Text 2</h4>
                    </td>
                </tr>
                <tr>
                    <td class="td-container">
                        <h5 class="ff-poppins fs-16 fw-normal ">
                            Text 3
                        </h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>

{% endblock %}