{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="section app-card">
  <h1 class="title">Subscription Demo</h1>
  <h1 class="subtitle">Basic examples to get you going with feature-gating based on subscriptions.</h1>
  <p>Tip: the source of this page can be found at <code>templates/subscriptions/demo.html</code></p>
</section>
<section class="section app-card">
  <h1 class="subtitle">Changing Content Based on a Plan</h1>
  <p>The text and color below will change based on whether you have an active subscription.</p>
  {% if subscription %}
    <div class="notification my-2 is-info">
      <p>You're subscribed to {{ product.metadata.name }}! Hooray!</p>
    </div>
  {% else %}
    <div class="notification my-2">
      <p>It doesn't look like you're subscribed. <a href="{{ subscription_urls.subscription_details }}">Upgrade Here!</a></p>
    </div>
  {% endif %}
</section>
<section class="section app-card">
  <h1 class="subtitle">Viewing Subscription Details</h1>
  <p>
    If you're subscribed to a plan, go to
    <a href="{{ subscription_urls.subscription_details }}">the subscription details page</a>
    to see an example of showing information about the subscription.
  </p>
</section>
<section class="section app-card">
  <h1 class="subtitle">Restricting Access to a Page</h1>
  <p>
    <a href="{{ subscription_urls.subscription_gated_page }}">This page</a> is only available if you are subscribed to a plan.
  </p>
  <p>
    The code for this page can be found in the <code>subscription_gated_page</code> view in
    <code>apps/subscriptions/views.py</code>
  </p>
</section>
{% endblock %}
