{% extends "web/app/app_base.html" %}
{% load static %}
{% block app %}
<section class="section app-card">
    <div class="columns columns-reversed">
        <div class="column">
            <img src="{% static 'images/undraw/undraw_alert.svg' %}" alt="Uh-Oh">
        </div>
        <div id="tagline" class="column">
            <h1 class="title is-size-2">Oops. You don't have access.</h1>
            <h2 class="subtitle is-size-4">
              This page requires an active subscription. Upgrade your plan to get access!
        </div>
    </div>
</section>
{% endblock %}
