{% extends "web/app/app_base.html" %}
{% load static %}
{% block app %}
<section class="section app-card">
    <div class="columns columns-reversed">
        <div class="column">
            <img src="{% static 'images/undraw/undraw_joyride.svg' %}" alt="Yay!">
        </div>
        <div id="tagline" class="column">
            <h1 class="title is-size-2">Yay! You have access!</h1>
            <h2 class="subtitle is-size-4">
              If you're seeing this page then you're subscribed to a plan.
              Thanks for being a customer!
            </h2>
        </div>
    </div>
</section>
{% endblock %}
