{% extends "web/base.html" %}
{% load static %}
{% block body %}
<section class="section container">
    <div class="columns columns-reversed">
        <div class="column">
            <img src="{% static 'images/undraw/undraw_outer_space.svg' %}" alt="Fly Away!">
        </div>
        <div id="tagline" class="column">
            <h1 class="title is-size-2">{{project_meta.NAME}}</h1>
            <h2 class="subtitle is-size-4">
                {{project_meta.DESCRIPTION}}
            </h2>
            <p class="buttons">
                <a class="button is-primary is-large" href="./app/auth/register">
                    Create account
                </a>
                <a class="button is-primary is-large is-outlined" href="./app/auth/login">
                    Sign in
                </a>
            </p>
        </div>
    </div>
</section>
{% endblock %}
