{% extends "pegasus/examples_base.html" %}
{% block page_head %}
  <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% load static %}
{% block app %}
  <section class="section app-card">
    <div class="columns">
      <div class="column is-one-third">
        <div class="content">
          <h2>Payment Example</h2>
          <p>
            This example provides an end-to-end workflow for collecting payments using Stripe Elements.
          </p>
          <p>
            You can use any <a href="https://stripe.com/docs/testing#cards" target="_blank">Stripe test card</a>
            to see it in action!
          </p>
        </div>
      </div>
      <div class="column">
        <form action="{% url 'pegasus:accept_payment' %}" method="post" id="payment-form">
          {% csrf_token %}
          <input type="hidden" name="amount" value="{{ amount }}">
          <div class="field">
            <label class="label" for="name">
              Payment Name
            </label>
            <div class="control">
              <input class="input" type="text" name="name" placeholder="My Amazing Site" id="name-input">
            </div>
            <p class="help has-text-grey">This name is just for your own records, and can be whatever you want</p>
            <div class="help is-danger" id="name-errors" role="alert"></div>
          </div>
          {% include 'stripe/components/card_element.html' %}
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" name="consent" id="consent-checkbox">
              I agree to the <a href="{% url 'web:terms' %}" target="_blank">terms and conditions</a>
            </label>
            <div class="help is-danger" id="terms-errors" role="alert"></div>
          </div>
          <div class="field" style="margin-top: 1em;">
            <div class="control">
              <button class="button is-primary" id="purchase-button">Pay $25</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  {% if payments %}
    <section class="app-card">
      <h2 class="title is-size-4">My Payments</h2>
      <table class="table is-striped is-fullwidth">
        <thead>
        <tr>
          <th>Payments Name</th>
          <th>Payment Date</th>
          <th>Payment Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
          <tr>
            <td>{{ payment.name }}</td>
            <td>{{ payment.created_at }}</td>
            <td>{{ payment.amount_display }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
  {% else %}
    <section class="app-card notification is-warning is-light">
      <div class="content">
        <p>
          No payments yet! Make a payment using any <a href="https://stripe.com/docs/testing#cards"
                                                       target="_blank">Stripe test card</a>
          to see the rest of the demo.
        </p>
        <p>
          Hint: you can use card number <strong>4242 4242 4242 4242</strong> and any expiration date / CVC /
          zipcode.
        </p>
      </div>
    </section>
  {% endif %}
{% endblock %}
{% block page_js %}
  <script src="{% static 'js/app-bundle.js' %}"></script>
  <script type="application/javascript">
    const Payments = SiteJS.app.Payments;

    const createPaymentIntentUrl = "{% url 'pegasus:create_payment_intent' %}";
    const stripe = Stripe('{{ stripe_key }}');

    const form = document.getElementById('payment-form');

    const validateForm = function() {
      // do form validation and return whether or not there were any errors
      let hasErrors = false;
      const nameErrorElement = document.getElementById('name-errors');
      if (!document.getElementById('name-input').value) {
        nameErrorElement.textContent = 'Name is required.';
        hasErrors = true;
      } else {
        nameErrorElement.textContent = '';
      }
      const termsErrorElement = document.getElementById('terms-errors');
      if (!document.getElementById('consent-checkbox').checked) {
        termsErrorElement.textContent = 'Please agree to the terms and conditions.';
        hasErrors = true;
      } else {
        termsErrorElement.textContent = '';
      }
      return hasErrors;
    };
    Payments.createPaymentIntent(createPaymentIntentUrl).then((clientSecret) => {
      const card = Payments.createCardElement(stripe);
      form.addEventListener('submit', function (event) {
        event.preventDefault();
        const hasErrors = validateForm();
        if (!hasErrors) {
          payWithCard(stripe, card, clientSecret);
        }
      });
    });

    const payWithCard = function(stripe, card, clientSecret) {
      const purchaseButton = document.getElementById('purchase-button');
      purchaseButton.classList.add('is-loading');
      stripe.confirmCardPayment(clientSecret, {
        payment_method: {
          card: card,
        }
      })
      .then(function(result) {
        if (result.error) {
          // Show error to your customer
          Payments.showOrClearError(result.error.message);
          purchaseButton.classList.remove('is-loading');
        } else {
          // The payment succeeded!
          // do server-side processing on our side
          Payments.addInputToForm(form, 'paymentIntent', result.paymentIntent.id);
          form.submit();
        }
      });
    };
  </script>
{% endblock %}
