{% extends "web/base.html" %}
{% load static %}
{% block body %}
<section class="notification is-warning has-text-centered app-notice">
    <p>
        This is the example landing page that ships with Pegasus, which is heavily-based on Pegasus's own landing page.
    </p>
    <p>
        <a href="{% url 'pegasus:react_object_lifecycle' %}">Back to examples</a>.
    </p>
</section>
<div id="example-page-content">
    <section class="section container">
        <div class="columns columns-reversed">
            <div class="column">
                <img src="{% static 'images/undraw/undraw_outer_space.svg' %}" alt="Fly Away!">
            </div>
            <div id="tagline" class="column">
                <h1 class="title is-size-2">My Amazing SaaS Application</h1>
                <h2 class="subtitle is-size-4">
                    This app will be the greatest thing the world has ever seen.
                </h2>
                <p class="buttons">
                    <a class="button is-primary is-large" href="#get-started">
                        Get Started
                    </a>
                </p>
            </div>
        </div>
    </section>
    <section class="section container is-size-5">
        <div class="columns">
            <div class="column is-one-quarter">
                <img src="{% static 'images/undraw/undraw_features_overview.svg' %}" alt="Powerful Built-In Features">
            </div>
            <div class="is-three-quarters">
                <div class="title">Powerful Built-In Features</div>
                <div class="subtitle">This is where you talk about the great features that your app has.</div>
                <div class="columns">
                    <div class="column">
                        <span class="subfeature-title">Feature Number 1</span>
                        &mdash; A really great feature that everyone will love!
                    </div>
                    <div class="column">
                        <span class="subfeature-title">Feature Number 2</span>
                        &mdash; This feature is even better than Feature #1! A real crowd pleaser!
                    </div>
                    <div class="column">
                        <span class="subfeature-title">Feature 3</span>
                        &mdash; Possibly the best feature of all. This is some groundbreaking stuff that this app can
                        do.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section container is-size-5">
        <div class="columns columns-reversed">
            <div class="column is-one-quarter">
                <img src="{% static 'images/undraw/undraw_portfolio_update.svg' %}" alt="Examples">
            </div>
            <div class="is-three-quarters">
                <div class="title">Another Section of Functionality</div>
                <div class="subtitle">Here you can add more things that you want to talk about.</div>
                <div class="columns">
                    <div class="column">
                        <span class="subfeature-title">Extra Thing 1</span>
                        &mdash;This thing is important so it will be listed first.
                    </div>
                    <div class="column">
                        <span class="subfeature-title">Extra Thing 2</span>
                        &mdash;This thing is not as important as the first thing, so we've listed it second.
                    </div>
                    <div class="column">
                        <span class="subfeature-title">Extra Thing 2</span>
                        &mdash;This is the least important thing in this section.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section container is-size-5">
        <div class="columns">
            <div class="column is-one-quarter">
                <img src="{% static 'images/undraw/undraw_coding.svg' %}" alt="Build With Django">
            </div>
            <div class="is-three-quarters">
                <div class="title">A Third Section</div>
                <div class="subtitle">You are probably getting the picture now, but you can put as many of these
                    sections as you want.</div>
                <div class="columns">
                    <div class="column">
                        <span class="subfeature-title">Third Section Item 1</span>
                        &mdash;You don't have to have three items in each section. This one only has two.
                        The text here is a bit longer because we want to fill the space.
                    </div>
                    <div class="column">
                        <span class="subfeature-title">Third Section Item 2</span>
                        &mdash;This is the last one in this section. Phew, that was repetetive!
                        Now we can move onto a different layout / section of the page.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container has-text-centered ">
                <h2 class="subtitle is-size-4 has-text-white">
                    Just <del>$200</del> <strong>$99</strong> per month for new users! What a deal!
                </h2>
                <a class="button is-primary is-inverted is-medium" href="#get-started">
                    Get Started
                </a>
            </div>
        </div>
    </section>
    <section class="section container is-size-5" id="faq">
        <div class="title">Frequently Asked Questions</div>
        <div class="columns question">
            <div class="column is-one-third has-text-weight-bold">
                What's this section all about?
            </div>
            <div class="column is-two-thirds">
                It's a simple two-column format that works great for a back and forth dialog
                like an FAQ.
            </div>
        </div>
        <div class="columns question">
            <div class="column is-one-third has-text-weight-bold">
                What does your app do?
            </div>
            <div class="column is-two-thirds content">
                <p>What <em>doesn't</em> the app do?</p>
                <p>It will solve all of your problems and a few problems you didn't even know you had!</p>
            </div>
        </div>
        <div class="columns question">
            <div class="column is-one-third has-text-weight-bold">
                What else can you tell me?
            </div>
            <div class="column is-two-thirds content">
                <p>
                    Not too much. Each application is a unique snowflake and you'll have to come up with
                    the right message for your application.
                    This is just a layout to get you started!
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block page_js %}
{% include 'pegasus/components/sticky-header-js.html' %}
{% endblock %}