{% extends "web/base.html" %}
{% load static %}
{% block body %}
<section class="notification is-warning has-text-centered app-notice">
    <p>
        This is the example pricing page that ships with Pegasus, which is heavily-based on Pegasus's own pricing page.
    </p>
    <p>
        <a href="{% url 'pegasus:react_object_lifecycle' %}">Back to examples</a>.
    </p>
</section>
<div id="example-page-content">
<div class="hero" id="pricing-page-head">
    <div class="hero-body has-text-centered">
        <div class="container">
            <div class="title">
                Choose the plan that's right for you
            </div>
            <div class="subtitle">
                Jump start your side project, or settle in for the long haul.
            </div>
        </div>
    </div>
</div>
<section id="plans">
    <div id="plan-wrapper" class="container">
        <div class="plan">
            <div class="plan-summary">
                <div class="plan-info">
                    <h2 class="title">Trial</h2>
                    <h3 class="subtitle">Trial all functionality for 30 days.</h3>
                </div>
                <div class="plan-price">
                    <p class="price">Free</p>
                    <p class="price-detail">forever</p>
                    <a class="button is-primary is-outlined is-medium" href="#sign-up">Try Now</a>
                </div>
            </div>
            <div class="plan-details">
                <ul>
                    <li>Free sign up</li>
                    <li>Demo all features</li>
                </ul>
            </div>
        </div>
        <div class="plan is-active">
            <div class="plan-highlight">
                <p>Most Popular</p>
            </div>
            <div class="plan-summary">
                <div class="plan-info">
                    <h2 class="title">Professional</h2>
                    <h3 class="subtitle">The choice for professional organizations.</h3>
                </div>
                <div class="plan-price">
                    <p style="margin-top: .5em; margin-bottom: .5em"><span class="tag is-warning is-rounded">early bird price!</span></p>
                    <p class="price"><del class="has-text-grey-light">$200</del> $99</p>
                    <p class="price-detail">per month</p>
                    <a class="button is-primary is-medium" href="#sign-up">Purchase</a>
                </div>
            </div>
            <div class="plan-details">
                <ul>
                    <li>A great thing you get on this plan</li>
                    <li>Another benefit of this plan</li>
                    <li>And a third thing that makes this a great choice</li>
                </ul>
            </div>
        </div>
        <div class="plan">
            <div class="plan-summary">
                <div class="plan-info">
                    <h2 class="title">Enterprise</h2>
                    <h3 class="subtitle">For the enterprise that needs the most.</h3>
                </div>
                <div class="plan-price">
                    <p class="price">$1000</p>
                    <p class="price-detail">per month</p>
                    <a class="button is-primary is-outlined is-medium" href="#contact">Contact Us</a>
                </div>
            </div>
            <div class="plan-details">
                <ul>
                    <li>Advanced security and compliance</li>
                    <li>24/7 support</li>
                    <li>Another benefit only available to enterprise customers</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}
{% block page_js %}
{% include 'pegasus/components/sticky-header-js.html' %}
{% endblock %}
