

                        <tr>
                            <td class="tbody-container">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="td-container">
                                                <h5 class="ff-poppins fs-16 fw-normal"> Thanks for using our site!</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-container">
                                                <h5 class="ff-poppins fs-18 ">
                                                    The Mailerrize Team
                                                </h5>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tr>
    </tbody>
</table>