{% load static %}
<table class="container">
    <tbody>
        <tr>
            <div class="content">
                <table>
                    <tbody>
                        <tr>
                            <td class="tbody-container">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="logo-container">
                                                <img src="https://www.novateva.com/Mailerrize-logo.png" width="350"></img>
                                            </td>
                                        </tr>
